<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>show data</h1>
<table>
    <tr>
        <td>url</td>
        <td>标签</td>
        <td>添加时间</td>
        <td>上传者</td>
        <td>截图</td>
    </tr>
    {% for i in model_list %}
        <tr>
        <td>{{ i.cms_dj_url }}</td>
        <td>{{ i.cms_dj_tag }}</td>
        <td>{{ i.cms_dj_addtime }}</td>
        <td>{{ i.cms_dj_author }}</td>
        <td><img src="{{ i.cms_dj_imgsrc }}"></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>